
*{
  background-color: white;
}

*{
    font-family: sans-serif;
}

.rull {

  font-size: 1rem;

  font: Times;

}

#meme {

  font-weight: bolder;

}

#center {

  text-align: center;

}

.Dcenter {

  text-align: center;

}
